@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #09090b;
  --text-color: #27272a;
  --text-light: #f5f5f5;
  --gray-color: #a3a3a3;
}

:root {
  --green-50: #ecfdf5;
  --green-100: #d2f9e5;
  --green-200: #a8f2d0;
  --green-300: #70e5b7;
  --green-400: #36d198;
  --green-500: #12b780;
  --green-600: #079468;
  --green-700: #067656;
  --green-800: #075e45;
  --green-900: #064232;
  --green-950: #032b22;
}
:root {
  --radius-sm: 6px; /* rounded-sm */
  --radius: 8px; /* rounded */
  --radius-md: 16px; /* rounded-md */
  --radius-lg: 24px; /* rounded-lg */
}
@media (min-width: 640px) {
  :root {
    --radius-sm: 6px;
    --radius: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
  }
}

@layer base {
  p {
    @apply text-(--text-color);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
     @apply text-(--black);
  }
}

html {
  font-size: 100%;
}

body {
  font-family: var(--font-aleo), Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-family: var(--font-aleo);
  font-weight: 600;
  line-height: 1.2em;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1rem;
}

b,
p {
  font-family: var(--font-lora);
}

p {
  font-size: 1rem;
  line-height: 1.4em;
  font-weight: 400;
}

b {
  font-weight: 700;
}
