@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --nature-green-50: #ecfdf5;
  --nature-green-100: #d2f9e5;
  --nature-green-200: #a8f2d0;
  --nature-green-300: #70e5b7;
  --nature-green-400: #36d198;
  --nature-green-500: #12b780;
  --nature-green-600: #079468;
  --nature-green-700: #067656;
  --nature-green-800: #075e45;
  --nature-green-900: #064232;
  --nature-green-950: #032b22;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-aleo);
  font-weight: 600;
  line-height: 1.4em;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.125rem;
}

b,
p {
  font-family: var(--font-cormorant-upright);
}

p {
  font-size: 1rem;
  line-height: 1.4em;
  font-weight: 400;
}

b {
  font-weight: 700;
}
